<nav class="navbar navbar-expand-lg" style="background-color: #727272; padding: 10px 0;">
  <div class="container-fluid">
    <!-- Marca a la izquierda -->
    <a class="navbar-brand" routerLink="/" style="font-size: 1.2rem; font-weight: bold;">
      Tinto Expres! <br>A la velocidad de tu día.
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="domicilio">Tinto a domicilio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="productos">Nuestros productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contacto">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="mensajes">Mensajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="registro">
            <button type="button" class="btn custom-button">Regístrate</button>
          </a>
        </li>
        <li class="nav-item dropdown d-flex align-items-center">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="images/iconoUsuario.png" style="width: 30px;" alt="iconoUsuario">
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#" (click)="abrirModal(loginModal)">Ingresar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="perfil">Ver Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar sesión</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- router -->
<main class="container-fluid d-flex flex-column" style="flex: 1;">
  <router-outlet></router-outlet>
</main>

<!-- Footer -->
<footer>
  <img src="images/Logo.png" class="footer-logo" alt="Logo Tinto Expres">
  <div class="footer-content">
    <p>&copy; 2024 Tinto Expres! Todos los derechos reservados.</p>
  </div>
  <div class="social-icons">
    <a href="#"><img src="images/Facebook.png" alt="Facebook"></a>
    <a href="#"><img src="images/Instagram.png" alt="Instagram"></a>
    <a href="#"><img src="images/Twitter.png" alt="Twitter"></a>
  </div>
</footer>

<!-- Modal de inicio de sesión -->
<ng-template #loginModal>
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="loginCorreo" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="loginCorreo" name="correo" [(ngModel)]="correo" placeholder="Ingresa tu correo">
            </div>
            <div class="mb-3">
              <label for="loginContrasena" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="loginContrasena" name="contrasena" [(ngModel)]="contrasena" placeholder="Ingresa tu contraseña">
            </div>
            <div *ngIf="mensajeError" class="text-danger mb-3">{{ mensajeError }}</div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-button"  data-bs-dismiss="modal"  (click)="cerrarModal()">Cancelar</button>
          <button type="button" class="btn btn-primary customn-button" (click)="verificarUsuario()">Iniciar sesión</button>
          <button *ngIf="mostrarRegistro" type="button" class="btn custom-button" (click)="redirigirRegistro()">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
