:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #d7ccc8;
}

footer {
  background-color: #727272;
  padding: 0;
  margin: 0;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.footer-logo {
  position: absolute;
  left: 20px;
  top: -30px;
  width: 85px;
  z-index: 10;
  max-width: 100%;
  height: auto;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex-grow: 1;
}

.footer-content p {
  margin: 0;
  font-size: 14px;
  color: white;
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-right: 10px; 
}

.nav .nav-item img {
  width: 20px;
  height: 20px;
}

.custom-button {
  background-color: #FF8A65;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.custom-button:hover {
  background-color: #45a049;
}

.customn-button {
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.4rem;
  color: white;
  line-height: 1.2;
}

.navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  margin: 0 10px;
}
.navbar-nav .nav-link:hover {
  color: #FF8A65;
}

.navbar-nav .nav-item img {
  width: 30px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 2px; 
}

.navbar-nav .nav-item.d-flex {
  align-items: center;
}

.dropdown-menu {
  min-width: 150px; /* Cambia este valor según el tamaño deseado */
  background-color: #f3f3f3; /* Cambia este color al que prefieras */
  border: 1px solid #ccc; /* Bordes del menú desplegable */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Agrega un sombreado suave */
}

/* Ajustar el color de los items en el dropdown */
.dropdown-item {
  color: #001846; /* Color del texto */
  padding: 10px 20px; /* Ajusta el padding para que el menú sea más amplio */
}

/* Cambiar el color de fondo y texto cuando se pasa el mouse */
.dropdown-item:hover {
  background-color: #f26f3e; /* Color de fondo cuando se pasa el mouse */
  color: #fff; /* Color del texto cuando se pasa el mouse */
}

/* Personalizar el separador */
.dropdown-divider {
  border-color: #ccc; /* Cambia el color del divisor */
}

.modal-dialog {
  max-width: 500px; /* Ajusta este valor según tus necesidades */
  margin: 1.75rem auto;
}

.modal-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.modal-backdrop {
  z-index: 1040 !important;
}

.modal {
  z-index: 1050 !important;
  display: block !important;
  opacity: 1;
}

