<div class="container">
    <div class="container p-4">
        <div class="row justify-content-center">
            <!-- Card Misión -->
            <div class="col-md-6 col-lg-5 mb-4">
                <div class="card" style="max-width: 500px; margin: auto;">
                    <img src="images/mision.jpeg" class="card-img-top" alt="Misión">
                    <div class="card-body">
                        <h5 class="card-title">Misión</h5>
                        <p class="card-text">En Tinto Expres, nuestra misión es llevar la experiencia del mejor café
                            colombiano directamente a la puerta de nuestros clientes. Ofrecemos tanto café preparado de
                            alta calidad, listo para disfrutar, como granos seleccionados de pequeños productores
                            nacionales. Promovemos la sostenibilidad y el comercio justo, garantizando frescura, sabor y
                            el auténtico espíritu del café colombiano en cada taza.</p>
                    </div>
                </div>
            </div>
            <!-- Card Visión -->
            <div class="col-md-6 col-lg-5 mb-4">
                <div class="card" style="max-width: 500px; margin: auto;">
                    <img src="images/vision.jpeg" class="card-img-top" alt="Visión">
                    <div class="card-body">
                        <h5 class="card-title">Visión</h5>
                        <p class="card-text text-justify">Ser la plataforma líder en la distribución de café colombiano, conectando a
                            los amantes del café con los mejores productores locales, y creando una experiencia única de
                            compra y entrega. Nos esforzamos por ser un referente en la promoción de la calidad, la
                            sostenibilidad y el apoyo a las comunidades cafeteras, llevando el auténtico sabor del café
                            de Colombia al mundo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>